<!DOCTYPE html>
<html>
    <head>
        <title>Pystiche Challenges</title>
        <style>
            body {
                background-color: #272822; /* Monokai background color */
                color: #f8f8f2; /* Light text color for readability */
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 20px;
            }
            h1 {
                color: #66d9ef; /* Monokai-themed title color */
            }
        </style>

        <!-- Favicon import-->
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <h1>🐍 Pystiche Challenges 🐍</h1>
        <h2>404: Not Found</h2>
    </body>
</html>
